<footer class="relativ pt-8 pb-6 px-6 {{ .Site.Params.Margins }}">
    <!-- <footer class="relativ pt-8 pb-6 px-6 2xl:px-96 xl:px-64 lg:px-32 md:px-16"> -->
    <!-- <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0px);">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div> -->
    <div class="">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 text-center lg:text-left">
                <h4 class="text-4xl font-bold">Hexandcube</h4>
                <h5 class="lg:text-lg text-xl mt-2 mb-6 lg:mb-2 text-gray-700">
                    <a href="https://status.hexandcube.tk">
                        <div id="status-div">
                            <span class="status-label text-gray-500"></span> <span id="status-dot"
                                class="bg-gray-500 w-1 p-1.5 inline-block rounded-full mt-1 ml-0.5 animate-pulse"></span>
                            <span id="system-status">Loading status...</span>
                        </div>
                    </a>
                </h5>
                <div class="lg:mt-2 mt-4">
                    <a href="https://twitter.com/hexandcube" class="socialicon" aria-label="Twitter" type="button">
                        <i class="flex fab fa-twitter fa-fw lg:text-xl text-3xl"></i></a>
                    <a href="https://github.com/hexandcube" class="socialicon" aria-label="GitHub" type="button">
                        <i class="flex fab fa-github fa-fw lg:text-xl text-3xl"></i></a>
                    <a href="https://gitlab.com/hexandcube" class="socialicon" aria-label="GitLab" type="button">
                        <i class="flex fab fa-gitlab fa-fw lg:text-xl text-3xl"></i></a>
                    <a href="https://instagram.com/hexandcube" class="socialicon" aria-label="Instagram" type="button">
                        <i class="flex fab fa-instagram fa-fw lg:text-xl text-3xl"></i></a>
                    <a href="https://mstdn.social/@hexandcube" class="socialicon" aria-label="Fediverse (Mastodon)"
                        type="button">
                        <i class="flex fab fa-mastodon fa-fw lg:text-xl text-3xl"></i></a>
                    <a href="https://keyoxide.org/5681BDD2B70D35BE36AA25985C37F30281858136" class="socialicon"
                        aria-label="Keyoxide" type="button">
                        <i class="flex fas fa-key fa-fw lg:text-xl text-3xl"></i></a>
                </div>
            </div>
            <div class="w-full lg:w-6/12 mt-6 lg:mt-0">
                <div class="flex flex-wrap items-top">
                    <div class="w-full lg:w-6/12 lg:px-4 lg:text-left text-center">
                        {{ if .Site.Params.Menus.FooterLinks1.enable }}
                        <span class="block uppercase text-gray-600 dark:text-gray-500 md:text-lg lg:text-sm text-2xl font-semibold mb-2">{{ with .Site.Params.Menus.FooterLinks1.title }}{{ . }}{{ end }}</span>
                        <ul class="list-unstyled">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.footerlinks1 }}
                            <li>
                                <a class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50 transition-all-300 font-semibold block lg:text-sm text-2xl mb-2 lg:mb-0"
                                    href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                    <div class="w-full lg:w-6/12 lg:px-4 mt-4 lg:mt-0 lg:text-left text-center">
                        {{ if .Site.Params.Menus.FooterLinks2.enable }}
                        <span class="block uppercase text-gray-600 dark:text-gray-500 md:text-lg lg:text-sm text-2xl font-semibold mb-2">{{ with .Site.Params.Menus.FooterLinks2.title }}{{ . }}{{ end }}</span>
                        <ul class="list-unstyled">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.footerlinks2 }}
                            <li>
                                <a class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50 lg:text-sm text-2xl transition-all-300 font-semibold block"
                                    href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}

                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-6 border-gray-200 dark:border-gray-800 mt-6" />
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full px-4 mx-auto text-center">
                <div class="text-sm text-gray-700 dark:text-gray-400 font-semibold py-1">
                    Copyright &copy; 2017 - 2021 Hexandcube
                </div>
            </div>
        </div>
    </div>
</footer>