<header
  class="font-sans border-b border-gray-200 dark:border-gray-800 transition-all-300 flex flex-wrap text-center sm:flex-row sm:text-left sm:justify-between pb-2 my-2 items-baseline mx-6 {{ .Site.Params.Margins }}">
  <div class="flex-1 flex justify-between items-center">
    <a href="/"
      class="text-2xl no-underline font-bold transition-all-300 text-gray-800 dark:text-gray-100 mt-3 hover:text-red-500">
      <img src="https://storage.hexandcube.tk/images/logo.png" alt="Logo"
        class="rounded-full w-6 h-6 inline-block mr-2 algin-middle"> <span class="">Hexandcube <span
            class="text-red-400">dev</span></span></a>
  </div>
  <label for="menu-toggle" class="cursor-pointer lg:hidden block">
    <svg class="w-6 h-6 text-gray-900 dark:text-gray-100" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </label>
  <input type="checkbox" class="hidden" id="menu-toggle" />

  <div class="hidden lg:flex lg:items-center lg:w-auto w-full transition-all-300" id="menu">
    <nav>
      <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
        {{ $currentPage := . }}
        {{ range .Site.Menus.header }}
          <li>
            <a href="{{ .URL }}" class="nav-item {{if or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}
            text-gray-800 dark:text-gray-200{{end}}">{{ .Name }}</a>
          </li>
        {{ end }}
        <li>
          <label for="theme-toggle" id="theme-toggle-label" class="nav-item cursor-pointer block">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
            </svg>
          </label>
          <input type="checkbox" class="hidden" id="theme-toggle" onclick="toggleTheme()" />
        </li>
      </ul>
    </nav>
    <a href="#" id="userAvatar" class="lg:ml-4 items-center justify-start ml-3 lg:mb-0 mb-4 cursor-pointer hidden">
      <img src="https://storage.hexandcube.tk/images/logo.png" alt="Avatar"
        class="rounded-full w-10 h-10 text-center border-2 block border-transparent hover:border-indigo-400" />
      <br class="lg:hidden">
    </a>
  </div>
</header>