<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ with .Title }}{{ . }} :: {{ end }}{{ $.Site.Title }}</title>

{{ $styles := resources.Get "css/tailwind.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
{{- if .Site.IsServer }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
{{- $processedStyles := $styles| minify | fingerprint | resources.PostProcess -}}
<link rel="stylesheet" href="{{ $processedStyles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end -}}

<link href="https://fonts.hexandcube.tk/css?family=Courier%20Prime:ital,wght@0,400&family=Inter:ital,wght@0,400;0,500;0,700&display=swap" rel="stylesheet" />
<meta name="description" content="{{ with .Page.Summary }}{{ . | plainify  }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
{{ if .Site.Params.OpenGraph }}
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:type" content="{{ .Site.Params.ogType }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:image" content="{{ with .Page.Params.CustomOgImage }}{{ . }}{{ else }}{{ .Site.Params.ogImageEndpoint }}{{ with .Title }}**{{ . | replaceRE " " "    %20"}}**{{ end }}{{ with .Page.Params.ogImageDescription }}<br>{{ . | replaceRE " " "%20" }}{{ end }}?{{ with .Site.Params.OgImageMarkdown }}md={{ . }}{{ end }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Params.SiteName }}" />
<meta property="og:description"
    content="{{ with .Page.Summary }}{{ . | plainify  }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}" />
{{ end }}
{{ if .Site.Params.TwitterCards }}
<meta name="twitter:card" content="{{ .Site.Params.TwitterCardType }}" />
<meta name="twitter:site" content="{{ .Site.Params.TwitterSiteHandle }}" />
<meta name="twitter:creator" content="{{ .Site.Params.TwitterCreatorHandle}}" />
{{ end }}
<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#ec5e45">
<link rel="shortcut icon" href="/assets/img/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.SiteName }}">
<meta name="msapplication-config" content="/assets/img/icons/browserconfig.xml">