<script>
    // Theme Toggle
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
        themeToggle = document.getElementById("theme-toggle-label");
        if (themeName === 'dark') {
            themeToggle.innerHTML = '<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>'
        } else themeToggle.innerHTML = '<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>'
    }
    function toggleTheme() {
        if (localStorage.getItem('theme') === 'light') {
            setTheme('dark');

        } else {
            setTheme('light');
        }
    }
    window.onload = () => {
        if (localStorage.getItem('theme') === 'dark') {
            setTheme('dark');
        } else if (localStorage.getItem('theme') === 'light') {
            setTheme('light');
        } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Set the theme of the Utterances comment widget
    addEventListener('message', event => {
        if (event.origin !== 'https://utteranc.es') return;
        if (localStorage.getItem('theme') === 'dark') {
            const message = {
                type: 'set-theme',
                theme: 'github-dark'
            };
            const utterances = document.querySelector('iframe').contentWindow;
            utterances.postMessage(message, 'https://utteranc.es');
        }
    });
</script>
<script src="https://kit.fontawesome.com/f6e2d80f62.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.statuspage.io/se-v2.js"></script>
<script>
    var statuspage = new StatusPage.page({
        page: 'wdf91pvxlsbj'
    });
    statuspage.summary({
        success: function (data) {
            var statusEmbed = document.querySelector("#system-status");
            var statusDot = document.querySelector("#status-dot");
            var serviceStatus = data.status.indicator;
            if ("none" == serviceStatus) {
                statusEmbed.innerText = "All systems operational";
                statusEmbed.classList.add("text-teal-600");
                statusDot.classList.add("bg-teal-600");
            } else if ("minor" == serviceStatus) {
                statusEmbed.innerText = "Minor Outage";
                statusEmbed.classList.add("text-yellow-500");
                statusDot.classList.add("bg-yellow-500");
            } else if ("major" == serviceStatus) {
                statusEmbed.innerText = "Major Outage";
                statusEmbed.classList.add("text-red-500");
                statusDot.classList.add("bg-red-500");
            } else if ("maintenance" == serviceStatus) {
                statusEmbed.innerText = "Service Maintenance";
                statusEmbed.classList.add("text-blue-500");
                statusDot.classList.add("bg-blue-500");
            } else {
                statusEmbed.innerText = "Unknown";
            }
        }
    });
</script>
<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
<script>
    PurgeCSSWhitelist: [
        "bg-gray-200", "hover:bg-gray-300", "dark:hover:bg-gray-600", "dark:bg-gray-400", "dark:text-gray-900", "text-gray-800",
        "bg-red-200", "hover:bg-red-300", "dark:hover:bg-red-600", "dark:bg-red-400", "dark:text-red-900", "text-red-800",
        "bg-orange-200", "hover:bg-orange-300", "dark:hover:bg-orange-600", "dark:bg-orange-400", "dark:text-orange-900", "text-orange-800",
        "bg-amber-200", "hover:bg-amber-300", "dark:hover:bg-amber-600", "dark:bg-amber-400", "dark:text-amber-900", "text-amber-800",
        "bg-yellow-200", "hover:bg-yellow-300", "dark:hover:bg-yellow-600", "dark:bg-yellow-400", "dark:text-yellow-900", "text-yellow-800",
        "bg-lime-200", "hover:bg-lime-300", "dark:hover:bg-lime-600", "dark:bg-lime-400", "dark:text-lime-900", "text-lime-800",
        "bg-green-200", "hover:bg-green-300", "dark:hover:bg-green-600", "dark:bg-green-400", "dark:text-green-900", "text-green-800",
        "bg-emerald-200", "hover:bg-emerald-300", "dark:hover:bg-emerald-600", "dark:bg-emerald-400", "dark:text-emerald-900", "text-emerald-800",
        "bg-teal-200", "hover:bg-teal-300", "dark:hover:bg-teal-600", "dark:bg-teal-400", "dark:text-teal-900", "text-teal-800",
        "bg-cyan-200", "hover:bg-cyan-300", "dark:hover:bg-cyan-600", "dark:bg-cyan-400", "dark:text-cyan-900", "text-cyan-800",
        "bg-lightBlue-200", "hover:bg-lightBlue-300", "dark:hover:bg-lightBlue-600", "dark:bg-lightBlue-400", "dark:text-lightBlue-900", "text-lightBlue-800",
        "bg-blue-200", "hover:bg-blue-300", "dark:hover:bg-blue-600", "dark:bg-blue-400", "dark:text-blue-900", "text-blue-800",
        "bg-indigo-200", "hover:bg-indigo-300", "dark:hover:bg-indigo-600", "dark:bg-indigo-400", "dark:text-indigo-900", "text-indigo-800",
        "bg-violet-200", "hover:bg-violet-300", "dark:hover:bg-violet-600", "dark:bg-violet-400", "dark:text-violet-900", "text-violet-800",
        "bg-purple-200", "hover:bg-purple-300", "dark:hover:bg-purple-600", "dark:bg-purple-400", "dark:text-purple-900", "text-purple-800",
        "bg-fuchia-200", "hover:bg-fuchia-300", "dark:hover:bg-fuchia-600", "dark:bg-fuchia-400", "dark:text-fuchia-900", "text-fuchia-800",
        "bg-pink-200", "hover:bg-pink-300", "dark:hover:bg-pink-600", "dark:bg-pink-400", "dark:text-pink-900", "text-pink-800",
        "bg-rose-200", "hover:bg-rose-300", "dark:hover:bg-rose-600", "dark:bg-rose-400", "dark:text-rose-900", "text-rose-800"
    ]
</script>

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
</script>